


nav, .contenedor, footer, article, header, .principal, aside {

	max-width: 100%;
	margin: auto;
	text-align: center;
	border-raidus: 0.4em;
}

nav{

background-color: blue;	
}


	
/*Menu*/





.menu li{
	display: inline-block;
}
	li a, btnDesplegable{
	display: inline-block;
	color: Nige;
	padding: 0.9em 1em;
	text-align: center;
}


.contenidoDesplegable{
	display: none;
	position: absolute;
	background-color: cornsilk;
	min-width: 8em;
}

.contenidoDesplegable a{
color: black;
padding; 0.9em 1em;
display: block;
text-align:left;



}
.contenidoDesplegable a:hover{
	background-color: darkcyan;
}
.desplegable:hover .contenidoDesplegable{
	display: block;
}
li a:hover{
background-color: black;
}



